#box1{
   background-color: white;
}

#img2{
    width: 4em;
}

#d2{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1vw;
    margin-top: auto;
}

#strong1{
    font-size: 1.6em;
    margin-right: 4%;
}
#p1{
    margin-bottom: 0px;
    word-wrap: break-word;;
}





#svg1{
    width: 1.5em;
    
}