*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    
}

#list{
    margin-left: 15px;
}

#icons{
    display: flex;
    justify-content: space-evenly;
}

#toolbar{
    background-color: white !important;
}

#connect{
    background-color: #f3ba2f;
    color: black;
    margin-left: auto;
    text-transform: capitalize;
    font-weight: bold;
}

#appbar{
    background-color: white;
    color: black
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#mobile{
    display: none;
}

.light{
    background-color: #e2e8f0;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}
@media only screen and (max-width: 1200px){

    #main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
}
@media only screen and (max-width: 600px){

    #mobile{
        display: block;
    }
    
}

